body {
    background-color: #FAEDCD;
    font-family: futura;
}

main {
    text-align: center;
    padding: 100px;
}

main li {
    display:inline-block;
    list-style-type: none;
    padding: 40px;
}

main li a {
    text-decoration: none;
    list-style-type: none;
    padding: 75px;
    text-align: center;
    margin-right: 30px;
}

main img{
    border-radius: 50%;
    margin-left: 50px;
    margin-right: 50px;
    transform: rotate(0deg);
}

main img:hover {
    transform: rotate(360deg) scale(1);
    transition: all 2s ease-out;
}


.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility:visible;
    opacity: 1;
}

.overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: visibility, opacity;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.overlay article {
    box-sizing: border-box;
    background-color: #e9edc9;
    padding: 20px;
    width: 50vw;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
}

.overlay article h2 {
    color: #7f5539;
}

p {
    font-family:'Courier New', Courier, monospace;
}

.corner {
    font-size: 36px;
    margin: 0;
    padding: 0;
    border:none;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    outline: none;
}

footer {
    text-align: center;
}