#banner {
  width: 800px;
  height: 250px;
  position: relative;
  background-color: black;
  place-content: center;
  margin: auto;
}

#banner1 {
  width: 800px;
  height: 250px;
  background-color: #dafd59;
  position: absolute;
  place-content: center;
}

#banner:hover {
  cursor: pointer;
}

#banner:hover div {
  animation: animation1 2s infinite alternate;
}

@keyframes animation1 {
  from {background-color: #dafd59;}
  to {background-color: #ff6ec7;}
}


body {
  background-color: black;
  text-align: center;
}

header {
  padding: 50px;
}

h1 {
  color: white;
  font-family: futura std;
  
}

h2 {
  color: white;
  font-family: futura std;
}

h2:hover {
  background-color:#ff6ec7;
}

li a {
  color: white;
  font-family: futura;
  background-color: black;
  text-decoration-color: #ff9800;
}

.row li a:hover {
  text-decoration: none;
}

li {
  padding: 5px;
}

.column {
  float: left;
  width: 33.3333%;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#column {
  transition: all 2s;
}

#column:hover {
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 5px;
  color: tomato;
}
