#banner {
  width: 800px;
  height: 250px;
  position: relative;
  background-color: black;
  box-sizing: border-box;
}

#banner1 {
  width: 30px;
  height: 30px;
  background-color: yellow;
  position: absolute;
  bottom: 0;
  left: 0;
}

#banner:hover {
  cursor: pointer;
}

#banner:hover div {
  animation: animation1 3s ease-in-out infinite alternate;
}

@keyframes animation1 {
  from { left: 0; background-color: yellow;}
  to { left: calc(100% - 30px); background-color: green;}
}