
* {
    box-sizing: border-box;
}

body {
    background-color: #dd4e29;
}

h1 {
    font-family: Zilla Slab;
    font-size: 80px;
    text-align:right;
    margin-top: 30%;
    padding-left: 350px;
    padding-right: 60px;
}

.column {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 15px;
    height: 800px;
    background-repeat: no-repeat;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
}

ul{
    list-style-type: none;
    padding-left: 20px;
    margin-top: 20%;
}

li {
    display:inline-block;
    list-style-type: none;
    width: 200px;
    
}

li a {
    text-decoration: none;
    list-style-type: none;
    text-align: left;
    padding-top: 50px;
    margin-right: 30px;
    font-family: Zilla Slab;
    display: block;
}


img{
    border-radius: 50%;
    margin-left: 50px;
    margin-right: 50px;
    transform: rotate(0deg);
}

img:hover {
    transform: rotate(360deg) scale(1);
    transition: all 2s ease-out;
}


.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility:visible;
    opacity: 1;
}

.overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: visibility, opacity;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.overlay article {
    box-sizing: border-box;
    background-color: #e9edc9;
    padding: 20px;
    width: 60vw;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
}

.overlay article h2 {
    color: #7f5539;
}

p {
    font-family:'Courier New', Courier, monospace;
}

.corner {
    font-size: 36px;
    margin: 0;
    padding: 0;
    border:none;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    outline: none;
}

#one, #two, #three {
    font-size: 50px;
    color: #664965;
}

#one:hover {
    font-size: 800%;
}

#two:hover {
    font-size: 800%; 
}

#three:hover {
    font-size: 800%;
}

footer {
    text-align: center;
}